

body{
    background-color: #fff;
    text-align: center;
}

h1{
    font-family: 'Nixie One', cursive;
    font-size: 48px;
    color: #44C5A7;
}

p{
    font-family: sans-serif;
    font-size: 18px;
    color: #44C5A7;
}

.form-div{
    width: 500px;
    background-color: #F9E9DC;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-style: solid;
    border-color: #6d3122
}   

#mood-div{
    border-top-style: none;
    border-bottom-style: none;
    padding-top: 0;
    padding-bottom: 0;
}

#name-entry{
    border-radius: 4px;
    border-color: #6d3122
}

.form-div label{
    color: #6d3122;
    font-family: sans-serif;
}

fieldset{
   border-style: none;
   padding: 5px 0px 0px 0px;
}

#name-div{
    border-bottom-style: none;
}

#angry-div{
    border-top-style: none;
}


#submit-button{
    background-color: #6D3122;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 10px;
}
